<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tagline.hmtl</title>

  <link href="assets/css/tagline.css" rel="stylesheet">
</head>
<body>
<main>
<div class="text-center" style="background-image: url(assets/img/bg.jpg)">
  <h1 class="display-2 fw-bold" style="background-color: rgba(210, 233, 230, 0.834)">One Page Wonder</h1>
  <h2 class="display-5 fw-bold" style="background-color: rgba(212, 236, 228, 0.801)"> Will Knock Your Socks Off</h2>
</div>

<div class="b-example-divider"></div>
</main>
</body>
</html>